<div class="container">
<h2>自分好みのラーメンのラーメンを見つけよう！</h2>
  <div class="row">
    <div class="mx-auto col-11 col-sm-10 col-lg-8 col-xl-6">
      <div class="btn-wrapper mx-auto col-10">
        <div class="row"><br>
          <%= link_to "ログイン", new_member_session_path, class:"btn btn-dark btn-sm btn-block mb-3 sign_in" %>
        </div>
        <div class="row">
         <%= link_to "新規登録", new_member_registration_path, class:"btn btn-danger btn-sm btn-block sign_up" %>
        </div>
      </div>
    </div>
  </div>
</div>